#sidebar-left,
#left-menu-panel {
    background-color: #013745;
}

#topbar,
#cboxOverlay,
.block-search .focused #edit-actions,
.menu--mobile-menu {
    background-color: #012d38;
}

.flexslider,
#footer {
    background-color: #01222b;
}

body,
.view-features,
.view-slider .slide-text,
.view-slider .views-field-title,
.excursion__text-inner,
.person__text-inner,
.service__text-inner,
.product__text,
.plant__text-inner,
.cboxPhoto,
#cboxLoadedContent,
#cboxLoadingGraphic,
.map-point-number,
.map-point-title,
#block-structure-hierarchical-taxonomy-menu,
.mobile-menu-toggle span,
.left-menu-toggle span,
.block-search .focused input.form-search,
.node__content figcaption {
    background-color: #fff;
}

#breadcrumbs,
#sidebar-right .block,
.view-conference-files,
.view-service-files,
.view-page-files,
.view-news-files,
.view-price-list {
    background-color: #ecf2f4;
}

#block-views-block-features-block-1 {
    background-color: transparent !important;
}

.menu--main a,
a.map-link,
.menu--mobile-menu a,
.menu--main a.is-active:hover,
.menu--left-menu a.is-active:hover,
.social-icon,
a.button,
a.button:active,
a.button:focus,
input.button,
a.button:active,
ul.tabs li a,
#cboxTitle,
.pager ul li a {
    color: #fff;
}

.menu--main a:hover,
.menu--left-menu a:hover,
.menu--mobile-menu a:hover,
a.map-link:hover,
#footer a:hover {
    color: #53cc9a;
}

a,
.legend-item span {
    color: #02657f;
}

a:hover,
a:active,
a:focus,
.legend-item span:hover {
    color: #1f9363;
}

.hierarchical-taxonomy-menu ul ul li a:before {
    border-color: #02657f;
}

.legend-item span {
    border-color: #02687a;
}

.map-point-number {
    color: #168d51;
}

.menu--main ul li a:after,
.site-logo a,
input.button,
.block-search .focused input.form-submit,
a.button,
.view-features ul li:before,
.view-features ul li:after,
.social-icon,
.node__content ul li:before,
.views-field-field-structure-text ul li:before,
.view-collection-description ul li:before,
.view-slider .flex-direction-nav a,
ul.tabs li a,
.view-structure-page-links a:before,
a.with-arrow:before,
.menu--left-menu a:before,
.messages--status:before,
.webform-confirmation__message:before,
.symbol-sign,
.pager ul li a {
    background-color: #1f9363;
}

.site-logo a:hover,
input.button:hover,
a.button:hover,
.social-icon:hover,
.view-slider .flex-direction-nav a:hover,
ul.tabs li a:hover,
.pager ul li a:hover {
    background-color: #1a7b53;
}

.view-slider .flex-control-paging li a.flex-active {
    background: #1f9363;
    background: rgba(24, 155, 89, 1);
}

input.button:hover,
a.button:hover,
ul.tabs li a {    
    color: #fff;
}

.site-name,
.site-slogan,
#block-sitesubname {
    color: #013745;
}

.phone-number,
.news-block-item__period,
.excursion__period,
.person__phone,
.product__price,
.reception-item__phone,
.conference__period,
.view-product-carousel .product-price,
.price-table tr td:last-child,
.field--name-field-product-price,
.field--name-field-event-dates,
.event-page-item__period {
    color: #1f9363;
}

.plant__latin-name {
    color: #5e5f60;
}

.breadcrumb,
.news-block-item__created,
.news-item__created {
    color: #949d9f;
}

.view-features ul li,
.view-slider .flex-control-paging li a {
    border-color: #1f9363;
}

input.form-text,
input.form-email,
textarea.form-textarea,
.news-block-item,
.news-item,
.reception-item,
.conference,
table tr,
input.form-search {
    border-color: #b2bdc0;
}

input.form-text:hover,
input.form-email:hover,
textarea.form-textarea:hover,
#search-form input.form-search:hover {
	border-color: #1f9363;
}

input.form-text:focus,
input.form-email:focus,
textarea.form-textarea:focus,
#search-form input.form-search:focus {
	border-color: #fff;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(33,148,100,1);
    box-shadow: 0px 0px 3px 1px rgba(33,148,100,1);
}

.block-search input.form-search {
	background-color: #024152;
}

.menu--left-menu a {
    color: #fff;
}

.pager ul li.is-active a {
    background-color: #949d9f;
}

#footer,
#footer a {
    color: #4a8493;
}

.messages--status,
.webform-confirmation__message {
    color: #1f9363;
    background-color: #d0f4e5;
}

.messages--error {    
    color: #cc3131;
	background-color: #edc6c6;
}

.messages--error:before {    
	background-color: #cc3131;
}

.map-point-title {
    border-color: #137644;
}

.node__content figcaption {
    color: #575859;
}

