/*------------------------------------------------------------*/
/* Common
/*------------------------------------------------------------*/

.view img {
	display: block;
	width: 100%;
	height: auto;
}

/*------------------------------------------------------------*/
/* Slider
/*------------------------------------------------------------*/

.flexslider {
    line-height: 1;
	padding: 0 0 60px 0;
}

.view-slider .views-field-title {
	position: absolute;
	z-index: 103;
	left: 20px;
    bottom: -20px;
	padding: 15px 20px;
	font-family: 'Montserrat', sans-serif;
    font-size: 1.294117rem;
	font-weight: 400;
}

.view-slider .flex-control-nav {
	position: absolute;
	left: 20px;
    bottom: 15px;
	text-align: left;
	width: auto;
	z-index: 101;
	font-size: 0;
	line-height: 0;
}

.view-slider .flex-control-nav li {
    margin: 0 5px 0 0;
	padding: 0;
	display: inline-block;
}

.view-slider .flex-control-nav li a {
    width: 10px;
    height: 10px;
	border: 1px solid;
    background: none;
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.view-slider .flex-direction-nav {
	display: block;
	position: absolute;
	text-align: right;
	z-index: 100;
	right: 20px;
    bottom: 12px;
}

.view-slider .flex-direction-nav li {
	display: inline-block;
    margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}

.view-slider .flex-direction-nav a {
    display: inline-block;
	position: relative;
	margin: 0;
	text-indent: 9999px;
    width: 30px;
    height: 30px;
    z-index: 101;
    opacity: 1;
    text-shadow: none;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 50% 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-slider .flex-direction-nav a:before {
    content: '';
	display: none;
}

.view-slider .flex-direction-nav .flex-prev {
    background-image: url(../images/prev.svg);
	left: auto;
	margin-right: 15px;
}

.view-slider .flex-direction-nav .flex-next {
    background-image: url(../images/next.svg);
	right: auto;
	left: auto;	
}

.view-slider .flexslider:hover .flex-direction-nav .flex-prev {
    left: auto;
	opacity: 1;
}

.view-slider .flexslider:hover .flex-direction-nav .flex-next {
    right: auto;
	opacity: 1;
}

/*------------------------------------------------------------*/
/* Features
/*------------------------------------------------------------*/

.view-features {
	margin-left: -40px;
    padding: 20px;
	position: relative;
	z-index: 100;
}

.view-features ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.view-features ul li {
	display: block;
	font-family: 'Montserrat', sans-serif;
    font-size: 1.294117rem;
    font-weight: 500;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;	
	border-bottom: 1px solid;
}

.view-features ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.view-features ul li:before {
    display: block;
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	left: 0;
	bottom: -3px;	
	z-index: 100;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.view-features ul li:after {
    display: block;
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	right: 0;
	bottom: -3px;	
	z-index: 100;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.view-features ul li:last-child:before,
.view-features ul li:last-child:after {
    display: none;
}

/*------------------------------------------------------------*/
/* Reception
/*------------------------------------------------------------*/

.view-reception-block .views-row {
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

/*------------------------------------------------------------*/
/* Conferences
/*------------------------------------------------------------*/

.view-conferences .views-row {
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.view-conferences .views-row:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.view-conferences .views-field-field-conference-dates {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.view-conferences .views-field-field-conference-type {
	margin-bottom: 5px;
}

.view-conference-files {
	padding: 20px;
}

.view-conference-video {
    margin-top: 20px;
}

.view-conference-video .views-view-grid .views-col {
    width: 50%;
}

.view-conference-gallery {
	margin-top: 20px;
}

/* ------ Conferences block ------ */

.view-conferences-block .views-row {
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.view-conferences-block .views-row:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.view-conferences-block .views-field-field-conference-dates {
	margin-bottom: 10px;
	font-size: 1rem;
}

.view-conferences-block .views-field-field-conference-type {
	margin-bottom: 5px;
}

/*------------------------------------------------------------*/
/* Events
/*------------------------------------------------------------*/

.view-events .views-view-grid .views-col,
.view-events-by-year .views-view-grid .views-col {
	width: 50%;
}

.view-events .views-field-field-event-image,
.view-events-by-year .views-field-field-event-image {
	width: 40%;
	float: left;
}

.view-events .views-field-field-event-image img,
.view-events-by-year .views-field-field-event-image img {
	width: 100%;
	height: auto;
}

.view-events .views-field-title,
.view-events-by-year .views-field-title {
	padding: 40px 0 0 0;
	width: 60%;
	float: right;
}

.view-events-block .views-field-field-event-short-title a,
.view-events .views-field-title a,
.view-events-by-year .views-field-title a {
	display: block;
}

.event-dates {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.event-text {
	margin-left: -40px;
	padding: 20px 0 20px 20px;
}

.view-event-gallery .views-col a.colorbox {
	position: relative;
} 

/* ------ Events Block ------ */

#block-views-block-events-block-block-1 {
	padding: 20px;
}

.view-events-block .views-row {
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.view-events-block .views-row:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.view-events-block .views-field-field-event-dates {
	margin-bottom: 10px;
}

/*------------------------------------------------------------*/
/* Excursions
/*------------------------------------------------------------*/

.view-excursions-block .views-field-field-excursion-image {
	width: 50%;
}

.view-excursions-block .views-field-field-excursion-image img {
	width: 100%;
	height: auto;
}

.view-excursions-block .views-field-title {
	padding: 40px 0 0 0;
	width: 50%;	
}

.view-excursions-block .excursion-period {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.excursion-text {
	padding: 20px;
}

.excursion-body {
	line-height: 1.5;
}

.excursion-body p {
	margin: 0;
}

/* ------ Excursions odd row ------ */

.view-excursions-block .views-row:nth-child(odd) .views-field-field-excursion-image {
	float: left;
}

.view-excursions-block .views-row:nth-child(odd) .views-field-title {
	float: right;
}

.view-excursions-block .views-row:nth-child(odd) .excursion-text {
	margin: 0 0 0 -40px;
}

/* ------ Excursions even row ------ */

.view-excursions-block .views-row:nth-child(even) .views-field-field-excursion-image {
	float: right;
}

.view-excursions-block .views-row:nth-child(even) .views-field-title {
	float: left;
}

.view-excursions-block .views-row:nth-child(even) .excursion-text {
	margin: 0 -40px 0 0;
}

/*------------------------------------------------------------*/
/* Structure
/*------------------------------------------------------------*/

.view-structure .view-content {
	padding: 20px;
}

.view-structure ul.menu li {
	margin-bottom: 10px;
}

.view-structure-page-descr {
	margin-bottom: 10px;
	line-height: 1.5;
}

.view-structure-page-image img {
	width: 100%;
	height: auto;
	 margin-bottom: 20px;
}

.view-structure-page-links {
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}

.view-structure-page-links ul li {
    float: left;
	display: block;
	margin-right: 20px;
} 

.view-structure-page-links a {
	display: inline-block;
	padding: 0 0 0 25px; 
	position: relative;
	font-size: 1.176470rem;
}

.view-structure-page-links a:before {
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 7px;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	background-image: url(../images/next.svg);
	background-repeat: no-repeat;
	background-size: 9px 9px;
	background-position: 50% 50%;
}

.view-structure-video {
	margin-bottom: 20px;
}

.view-structure-video .views-view-grid .views-col {
    width: 50%;
}

/*------------------------------------------------------------*/
/* Partners
/*------------------------------------------------------------*/

.view-partners ul.menu li {
	margin-bottom: 10px;
}

/*------------------------------------------------------------*/
/* News
/*------------------------------------------------------------*/

.view-news-date {
	margin-bottom: 20px;
}

.view-news {
	position: relative;
}

.view-news .view-header {
	position: absolute;
	right: 0;
	top: -75px;
}

.view-news .views-row,
.view-mass-media .views-row {
	border-bottom: 1px solid;
}

.view-news .views-row:last-child,
.view-mass-media .views-row:last-child {
	border-bottom: none;
}

.view-news .views-field-title,
.view-mass-media .views-field-title {
	margin-bottom: 10px;
}

.view-news .views-field-title a,
.view-news-block .views-field-title a,
.view-mass-media .views-field-title a {
	display: block;
}

.view-news-block .views-field-title a,
.view-mass-media .views-field-title a {
	line-height: 1.3;
}

.views-field-field-mass-media-link {
    font-size: 0.882352rem;
	margin-bottom: 20px;
}

.view-news-block .views-row {
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.view-news-block .views-row:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.view-news-block .views-field-created,
.view-news .views-field-created,
.views-field-field-mass-media-date {
    margin-bottom: 10px;
}

.view-news-video {
   margin-bottom: 20px;
}

.view-news-video .views-view-grid .views-col {
    width: 50%;
}

.view-news-files {
	margin: 20px 0 0 0;
    padding: 20px;
}

/*------------------------------------------------------------*/
/* Persons
/*------------------------------------------------------------*/

.view-persons-block .views-field-field-person-image,
.view-management-block .views-field-field-person-image  {
	float: left;
	width: 35%;
}

.view-persons-block img,
.view-management-block img {
	width: 100%;
	height: auto;
}

.view-persons-block .views-field-title,
.view-management-block .views-field-title {
	float: right;
	width: 65%;
	padding: 40px 0 0 0;
}

.person-text {
    margin: 0 0 0 -40px;
    padding: 20px 0 20px 20px;
}

.person-title {
    font-size: 1.529411rem;
}

.person-phone {
	margin-top: 20px;
	font-size: 1.294117rem;
}

.person-reception-label {
	margin-top: 20px;
	font-weight: 400;
}

.person-reception p {
	margin: 0;
}

.person-position:first-letter,
.person-degree:first-letter {
    text-transform: uppercase;
}

/*------------------------------------------------------------*/
/* Plants
/*------------------------------------------------------------*/

.view-lbpr-plants-med img,
.view-lbpr-plants-rare img,
.view-lbpr-plants-fodder img,
.view-lbpr-plants-bioenergy img {
    width: 100%;
	height: auto;
}

.view-lbpr-plants-med .views-field-title,
.view-lbpr-plants-rare .views-field-title,
.view-lbpr-plants-fodder .views-field-title,
.view-lbpr-plants-bioenergy .views-field-title {
	padding: 0 20px;
}

.plant-text {
    padding: 0 20px 20px 20px;
	position: relative;
	text-align: center;
}

.plant-title  {
    margin-bottom: 5px;
}

.plant-text:before {
	display: block;
	content: "";
	width: 100%;
    height: 20px;
	position: absolute;
	top: -20px;
	left: 0;	 
}

/*------------------------------------------------------------*/
/* Product Categories
/*------------------------------------------------------------*/

.view-product-categories .views-field-name {
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.176470rem;
	font-weight: 600;
	text-align: center;
}

.view-product-categories .views-field-name .field-content {
	display: block;
    padding: 0 20px 20px 20px;
	position: relative;	
}

.view-product-categories .views-field-name .field-content:before {
	display: block;
	content: "";
	width: 100%;
    height: 20px;
	position: absolute;
	top: -20px;
	left: 0;	 
}

/*------------------------------------------------------------*/
/* Products
/*------------------------------------------------------------*/

.view-products .views-field-title,
.view-products-vertical .views-field-title {
    padding: 0 20px;
}

.view-products .product-text,
.view-products-vertical .product-text {
    padding: 0 20px 20px 20px;
	position: relative;
	text-align: center;
}

.view-products .product-title,
.view-products-vertical .product-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.176470rem;
	font-weight: 600;
}

.view-products .product-price,
.view-products-vertical .product-price {
	font-size: 1.176470rem;
	margin-top: 5px;
}

.view-products .product-text:before,
.view-products-vertical .product-text:before {
	display: block;
	content: "";
	width: 100%;
    height: 20px;
	position: absolute;
	top: -20px;
	left: 0;	 
}

.product-price:empty {
	display: none;
}

/*------------------------------------------------------------*/
/* Services
/*------------------------------------------------------------*/

.view-services-block .views-field-field-service-image {
	width: 50%;
}

.view-services-block .views-field-field-service-image img {
	width: 100%;
	height: auto;
}

.view-services-block .views-field-title {
	padding: 40px 0 0 0;
	width: 50%;	
}

.service-text {
	padding: 20px;
}

.service-description {
	line-height: 1.5;
}

.service-description p {
	margin: 0;
}

.view-service-files,
.view-price-list {
	padding: 20px;
}

/* ------ Services odd row ------ */

.view-services-block .views-row:nth-child(odd) .views-field-field-service-image {
	float: left;
}

.view-services-block .views-row:nth-child(odd) .views-field-title {
	float: right;
}

.view-services-block .views-row:nth-child(odd) .service-text {
	margin: 0 0 0 -40px;
}

/* ------ Services even row ------ */

.view-services-block .views-row:nth-child(even) .views-field-field-service-image {
	float: right;
}

.view-services-block .views-row:nth-child(even) .views-field-title {
	float: left;
}

.view-services-block .views-row:nth-child(even) .service-text {
	margin: 0 -40px 0 0;
}

/*------------------------------------------------------------*/
/* Collections, Ecotrail
/*------------------------------------------------------------*/

.view-collections .views-field-name,
.view-subcollections .views-field-name,
.view-collection .views-field-title,
.view-ecotrail .views-field-name,
.view-ecotrail-plants .views-field-title {
    padding: 0 20px;
}

.view-collections .views-field-name .field-content,
.view-subcollections .views-field-name .field-content,
.view-collection .views-field-title .field-content,
.view-ecotrail .views-field-name .field-content,
.view-ecotrail-plants .views-field-title .field-content {
	display: block;
    padding: 0 20px 20px 20px;
	position: relative;
	text-align: center;
	font-size: 1.058823rem;
}

.view-collections .views-field-name .field-content:before,
.view-subcollections .views-field-name .field-content:before,
.view-collection .views-field-title .field-content:before,
.view-ecotrail .views-field-name .field-content:before,
.view-ecotrail-plants .views-field-title .field-content:before {
	display: block;
	content: "";
	width: 100%;
    height: 20px;
	position: absolute;
	top: -20px;
	left: 0;	 
}

.view-collection-video .views-view-grid .views-col {
	width: 50%;
}

/*------------------------------------------------------------*/
/* Files
/*------------------------------------------------------------*/

.view .file--x-office-document,
.view .file--application-pdf {
    background-image: none;
}

.view .file {
    padding-left: 0;
}

.view .file--x-office-document a {
	display: block;
	min-height: 40px;
    background-image: url(../images/doc.svg);
	background-repeat: no-repeat;
	background-size: auto 40px;
	background-position: 0 0;
	padding: 0 0 0 40px;
}

.view .file--application-pdf a {
	display: block;
	min-height: 40px;
    background-image: url(../images/pdf.svg);
	background-repeat: no-repeat;
	background-size: auto 40px;
	background-position: 0 0;
	padding: 0 0 0 40px;
}

.view-page-files {
    padding: 20px;
}

/*------------------------------------------------------------*/
/* Banners
/*------------------------------------------------------------*/

.view-banners img {
	width: 100%;
	height: auto;
}