#sidebar-left,
#mobile-nav {
    background-color: #013745;
}

#topbar,
.block-search .focused #edit-actions {
    background-color: #012d38;
}

.flexslider,
#footer {
    background-color: #01222b;
}

body,
.view-features,
.slide__title,
.excursion__text-inner,
.person__text-inner,
.service__text-inner,
.product__text,
.plant__text-inner,
.cboxPhoto,
#cboxLoadedContent,
#cboxLoadingGraphic,
.map-point-number,
.map-point-title,
#block-structure-hierarchical-taxonomy-menu,
.mobile-nav-toggle span,
.sidebar-toggle span,
.block-search .focused input.form-search,
.node__content figcaption {
    background-color: #fff;
}

#breadcrumbs,
#sidebar-right .block,
.view-conference-files,
.view-service-files,
.view-page-files,
.view-news-files,
.view-price-list {
    background-color: #ecf2f4;
}

#block-views-block-features-block-1 {
    background-color: transparent !important;
}

.menu--main a,
.menu--left-menu a,
.map-link,
.menu--main a.is-active:hover,
.menu--left-menu a.is-active:hover,
.social-icon,
a.button,
a.button:active,
a.button:focus,
input.button,
a.button:active,
ul.tabs a,
input.button:hover,
a.button:hover,
ul.tabs li a,
#cboxTitle,
.pager a,
#mobile-nav,
.menu--mobile-menu a {
    color: #fff;
}

.menu--main a:hover,
.menu--left-menu a:hover,
.menu--mobile-menu a:hover,
#mobile-nav .contacts-item a,
.map-link:hover,
#footer a:hover {
    color: #53cc9a;
}

a,
.legend-item span {
    color: #02657f;
}

a:hover,
a:active,
a:focus,
.legend-item span:hover {
    color: #1f9363;
}

.hierarchical-taxonomy-menu a:before {
    border-color: #02657f;
}

.legend-item span {
    border-color: #02687a;
}

.map-point-number {
    color: #168d51;
}

.menu--main a:after,
.site-logo a,
input.button,
.block-search .focused input.form-submit,
.button,
.view-features li:before,
.view-features li:after,
.social-icon,
.node__content li:before,
.views-field-field-structure-text li:before,
.view-collection-description li:before,
.view-slider .flex-direction-nav li a,
ul.tabs a,
.view-structure-page-links a:before,
a.with-arrow:before,
.menu--left-menu a:before,
.messages--status:before,
.webform-confirmation__message:before,
.symbol-sign,
.pager a {
    background-color: #1f9363;
}

.site-logo a:hover,
input.button:hover,
.button:hover,
.social-icon:hover,
.view-slider .flex-control-paging li a:hover,
.view-slider .flex-direction-nav a:hover,
ul.tabs a:hover,
.pager a:hover {
    background-color: #1a7b53;
}

.view-slider .flex-control-paging li a.flex-active {
    background: #1f9363;
    background: rgba(24, 155, 89, 1);
}

.site-name,
.site-slogan,
#block-sitesubname {
    color: #013745;
}

.contacts-item a,
.news-block-item__period,
.excursion__period,
.person__phone,
.product__price,
.reception-item__phone,
.conference__period,
.view-product-carousel .product-price,
.price-table tr td:last-child,
.field--name-field-product-price,
.field--name-field-event-dates,
.event__period {
    color: #1f9363;
}

.plant__latin-name {
    color: #5e5f60;
}

.breadcrumb,
.node__submitted,
.news-block-item__created,
.news-item__created {
    color: #949d9f;
}

.view-features li,
.view-slider .flex-control-paging a {
    border-color: #1f9363;
}

input.form-text,
input.form-email,
textarea.form-textarea,
.news-block-item,
.news-item,
.reception-item,
.conference,
table tr,
input.form-search {
    border-color: #b2bdc0;
}

input.form-text:hover,
input.form-email:hover,
textarea.form-textarea:hover,
#search-form input.form-search:hover {
	border-color: #1f9363;
}

input.form-text:focus,
input.form-email:focus,
textarea.form-textarea:focus,
#search-form input.form-search:focus {
	border-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(33,148,100,1);
}

.block-search input.form-search {
	background-color: #024152;
}

.pager li.is-active a {
    background-color: #949d9f;
}

#footer,
#footer a {
    color: #4a8493;
}

.messages--status,
.webform-confirmation__message {
    color: #1f9363;
    background-color: #d0f4e5;
}

.messages--error {    
    color: #cc3131;
	background-color: #edc6c6;
}

.messages--error:before {    
	background-color: #cc3131;
}

.map-point-title {
    border-color: #137644;
}

.node__content figcaption {
    color: #575859;
}

