/*------------------------------------------------------------*/
/* Fonts
/*------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');

/*------------------------------------------------------------*/
/* Base styles
/*------------------------------------------------------------*/

* {  
    box-sizing: border-box;
    border: none;
    outline: none !important;      
}

html {
    font-size: 100%;
}

body {
	position: relative;
	margin: 0;
    padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: normal;
	background: #fff;
	color: #000;	
}

p {
    margin: 0 0 1.5rem 0;
}

p:last-child {
    margin: 0;
}

strong, 
b {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
    text-decoration: none;
    transition: color 0.2s linear, background-color 0.2s linear;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

/*------------------------------------------------------------*/
/* Layout
/*------------------------------------------------------------*/

.topbar,
.region-header,
.wrapper,
.region-topbar-right,
.layout-two-sidebars .content,
.region-footer {
	display: flex;
}

.wrapper,
.layout-two-sidebars .content,
.region-footer {
	flex-wrap: wrap;
}

.topbar,
.region-header,
.region-topbar-right {
	align-items: center;
}

.region-topbar-right,
.region-header,
.region-footer {
    justify-content: space-between;
}

.topbar-left,
.sidebar-left {
	flex: 0 0 15%;
	max-width: 15%;
}

.topbar-left {
	padding: 0 0 0 2rem;
}

.topbar-right {
	padding: 0 2rem 0 10rem;
}

.topbar-right,
.page {
	flex: 0 0 85%;
	max-width: 85%;
}

.header,
.footer {	
	padding: 1.5rem 2rem;	
}

.breadcrumbs {	
    margin: 0 2rem;
	padding: 0.375rem 0.75rem;
}

.sidebar-left {
	padding: 1rem 1.5rem 2rem 2rem;	
}

.sidebar-left .block,
.sidebar-right .block {
    margin: 0 0 2rem 0;
}

.sidebar-right .block {
	padding: 1.5rem;
}

.slider {
    margin: 0 0 2rem 0;
}

.main {
	flex: 0 0 75%;
	max-width: 75%;
	padding: 2rem;
	position: relative;
}

.path-frontpage .main {
	padding: 0 2rem 2rem 2rem;
}

.region-content-top {
	margin: 0 0 2rem 0;
    line-height: 1.5;
}

.region-content-bottom {
    margin: 2rem 0 0 0;
}

.sidebar-right {
	flex: 0 0 25%;
	padding: 2rem 2rem 2rem 0;
	max-width: 25%;
}

/*------------------------------------------------------------*/
/* Headings 
/*------------------------------------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.block-title {
    font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: 0 0 2rem 0;
    font-size: 2rem;
	font-weight: 700;
}

h2 {
    margin: 0 0 1.5rem 0;
    font-size: 1.875rem;
	font-weight: 700;
}

h3 {
    margin: 0 0 1.25rem 0;
    font-size: 1.625rem;
	font-weight: 600;
}

h4 {
    margin: 0 0 1.25rem 0;
    font-size: 1.375rem;
	font-weight: 600;
}

h5 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
	font-weight: 600;
}

h6 {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
	font-weight: 600;
}

.block-title {
	position: relative;
    margin: 0 0 1.5rem 0;
    font-size: 1.875rem;
    font-weight: 700;	
}

/*------------------------------------------------------------*/
/* Site Branding
/*------------------------------------------------------------*/

.site-branding {
	position: relative;	
	display: flex;
	align-items: center;	
}

.site-branding__logo {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;   
}

.site-branding__link {
	display: block;
	width: 7rem;
	height: 7rem; 
	padding: 0.375rem; 
	border-radius: 50%;
}

.site-branding__image {
	display: block;
    width: 100%;
	height: auto;
}

.site-branding__text {
	padding: 0 0 0 8rem;
	font-family: 'Montserrat', sans-serif;
}

.site-branding__name {
    font-size: 1.625rem;
	font-weight: 700;
}

.site-branding__slogan {
	display: block;
    font-size: 1.25rem;
    font-weight: 500;
}

/*------------------------------------------------------------*/
/* Contacts
/*------------------------------------------------------------*/

.contacts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;
}

.contacts__item {
	padding: 0 1rem;
}

.contacts__data {
	display: block;
	font-size: 1.125rem;
    font-weight: 600;
}

/*------------------------------------------------------------*/
/* Social
/*------------------------------------------------------------*/

.social {
	display: flex;
}

.social__item {
	display: block;
	width: 2rem;
	height: 2rem;
	margin: 0 0 0 1rem;	
    background-repeat: no-repeat;
    background-size: 1.125rem auto;
    background-position: 50% 50%; 
	border-radius: 50%;
}

.social__item_instagram {
    background-image: url(../images/instagram.svg);
}

.social__item_vk {
    background-image: url(../images/vk.svg);
}

.social__item_fb {
    background-image: url(../images/fb.svg);
}

/*------------------------------------------------------------*/
/* Main Menu
/*------------------------------------------------------------*/

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.main-menu__item {
	display: block;
	padding: 0 1.5rem 0 0;
}

.main-menu__link {
    display: block;
	position: relative;
	line-height: 1;
    text-decoration: none;
	padding: 1rem 0;
	overflow: hidden;
}

.main-menu__link:after {
    content: "";
	display: block;
	width: 100%;
	height: 0.75rem;
    position: absolute;
	left: 0;
	bottom: -0.75rem;
    border-radius: 1rem;
}

.main-menu__link_active:after,
.main-menu__link.is-active:after {
	left: 0;
	bottom: -0.375rem;
}

/*------------------------------------------------------------*/
/* Left Menu
/*------------------------------------------------------------*/

.left-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-menu__item {
	display: block;
}

.left-menu__link {
	display: block;
	padding: 0.5rem 0;
	position: relative;
}

.left-menu__link:before  {
    content: "";
    display: block;
    width: 0.75rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -2.75rem;
    border-radius: 1rem;
}

.left-menu__link_active:before {
    left: -2.375rem;
}

#block-nanlogo img  {
	width: 60%;
	height: auto;
}

.sidebar-toggle {   
	display: none;
	position: absolute;
	top: 1rem;
	right: 0.75rem;
	width: 2.5rem;
	height: 2rem;
	vertical-align: middle;
	cursor: pointer;
	background: transparent;	
}

.sidebar-toggle span {
    width: 100%;
    height: 0.25rem;
    position: absolute;
	border-radius: 0.25rem;
    transition: 0.2s linear;
}

.sidebar-toggle span:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(0deg);
}

.sidebar-toggle span:nth-child(2) {
    left: 0;
    top: 50%;
    margin: -0.125rem 0 0 0;
    opacity: 1;
}

.sidebar-toggle span:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
}

.sidebar-toggle.is-active span:nth-child(1) {
    left: 0;
    top: 50%;  
    margin: -0.125rem 0 0 0;
    transform: rotate(-45deg);
}

.sidebar-toggle.is-active span:nth-child(2) {
    left: 0;
    bottom: 50%; 
    margin: 0 0 -0.125rem 0; 
    transform: rotate(45deg);
    opacity: 0;   
}

.sidebar-toggle.is-active span:nth-child(3) {
    left: 0;
    bottom: 50%; 
    margin: 0 0 -0.125rem 0;  
    transform: rotate(45deg);
}

/*------------------------------------------------------------*/
/* Sidebar Right
/*------------------------------------------------------------*/

.sidebar-right .block-title {
	padding: 0 0 1.5rem 0;	
    font-size: 1.375rem;
}

.sidebar-right .block-title:after {
    content: "";
	display: block;
	width: 2.5rem;
    height: 0.1875rem;   
    position: absolute;
    bottom: 0;
    left: 0;
}

/*------------------------------------------------------------*/
/* Page Menu
/*------------------------------------------------------------*/

.lbpr-results-menu,
.page-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.lbpr-results-menu__item,
.page-menu__item {
    margin: 0 0 0.75rem 0;
}

.lbpr-results-menu__item:last-child,
.page-menu__item:last-child {
    margin: 0;
}

a.has-arrow {
	display: inline-block;
	padding: 0 0 0 1.75rem; 
	position: relative;
	font-size: 1.25rem;
}

a.has-arrow:before {
    display: block;
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    top: 0.438rem;
    left: 0;
    border-radius: 50%;
	background-image: url(../images/next.svg);
	background-repeat: no-repeat;
	background-size: 0.5rem auto;
	background-position: 50% 50%;
}

/*------------------------------------------------------------*/
/* Content
/*------------------------------------------------------------*/

.node__submitted {
    margin: 0 0 1.5rem 0;
}

.node__content {
    line-height: 1.5;
}

.node__content section {
	clear: both;
	padding: 2rem 0 0 0;
}

.node__content .float-right {
    float: right;
    margin: 0 0 1.5rem 1.5rem;
    width: 30%;
}

.node__content .float-left {
    float: left;
	margin: 0 1.5rem 1.5rem 0;	
    width: 30%;
}

.node__content figcaption {
	position: relative;
	z-index: 10;
	margin: -1.5rem 1.5rem 0 1.5rem;
	padding: 1.5rem;
	text-align: center;
	font-size: 0.938rem;
}

.node__content figure img {
    width: 100%;  
}

.node__content img {
    display: block;
    max-width: 100%;
    height: auto;    
}

.field--name-field-product-price {
    margin: 1.5rem 0;
	font-size: 1.6rem;
	font-weight: 700;
}

.field--name-field-product-latin-name,
.field--name-field-ecotrail-plant-latin-name {
    margin: 0 0 1.5rem 0;
    font-size: 1.375rem;
    font-style: italic;
}

.field--name-field-page-image,
.field--name-field-news-image,
.field--name-field-person-image,
.field--name-field-product-image,
.field--name-field-event-image,
.field--name-field-service-image,
.field--name-field-ecotrail-plant-image {
    float: right;
	width: 35%;
	margin: 0 0 1.5rem 1.5rem;
}

.field--type-daterange {
	margin: 0 0 1.5rem 0;
	font-size: 1.375rem;
}

.node__content ul,
.views-field-field-structure-text ul,
.view-collection-description ul {
	margin: 0 0 1.5rem 1.5rem;
	padding: 0;
}

.node__content ol,
.views-field-field-structure-text ol,
.view-collection-description ol {
	margin: 0 0 1.5rem 2.5rem;
	padding: 0;
}

.node__content ul li,
.views-field-field-structure-text ul li,
.view-collection-description ul li,
.node__content ol li,
.views-field-field-structure-text ol li,
.view-collection-description ol li  {
	margin: 0 0 0.5rem 0;
}

.node__content ul,
.views-field-field-structure-text ul,
.view-collection-description ul {
	list-style: none;
}

.node__content ul li,
.views-field-field-structure-text ul li,
.view-collection-description ul li {
	position: relative;
	padding: 0 0 0 1.125rem;
}

.node__content ul li:before,
.views-field-field-structure-text ul li:before,
.view-collection-description ul li:before {
	content: "";
	display: block;
	position: absolute;
	top: 0.688rem;
	left: 0;
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 50%;
}

/*------------------------------------------------------------*/
/* Form Elements
/*------------------------------------------------------------*/

.form__item {
    margin: 0 0 1.5rem 0;
}

.form__label {
    display: block;
	font-weight: 600;
	margin: 0 0 0.25rem 0;
}

.form-text,
.form-email,
.form-textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-size: 1rem;
    color: #000;
	border: 1px solid;
    padding: 0.375rem;
    width: 50%;
    transition: 0.2s linear;
}

.button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    padding: 1rem 2rem;
	border-radius: 3rem;
    transition: 0.2s linear;
}

.form__description {
	margin: 0.1875rem 0 0 0;
    font-size: 0.938rem;
}

/*------------------------------------------------------------*/
/* Webform
/*------------------------------------------------------------*/

.block-webform {
	position: relative;
	padding: 0 0 5rem 0;
}

.block-webform .form-actions {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*------------------------------------------------------------*/
/* Search Form
/*------------------------------------------------------------*/

.top-search-form {
	display: flex;
    transition: 0.2s linear;
}

.form__item_type_search {
	display: block !important;
	flex: 1 1 auto;
    margin: 0;
}

.top-search-form .form-search,
.top-search-form__button {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.938rem;
    font-weight: 400;
}

.top-search-form .form-search {	
    padding: 0.375rem 0.75rem;
	border: none;
	width: 100%;
    transition: 0.2s linear;
	border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
} 

.top-search-form__button {
    text-indent: -600rem;
    margin: 0 !important;
    padding: 0.375rem;
	width: 2rem;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 1rem auto;
	background-position: 50% 50%;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.top-search-form {
    opacity: 0.7;
    transition: 0.2s linear;
}

.top-search-form:hover,
.top-search-form_focused {
    opacity: 1;
}

.form-search::-webkit-search-cancel-button {
    display: none;
}

/*------------------------------------------------------------*/
/* Search Results
/*------------------------------------------------------------*/

.search-form {
	margin: 0 0 3rem 0;
	padding: 1.5rem;
	opacity: 1;
}

.search-form .container-inline {
	display: flex;
}

.search-form .form-search {
	width: 100%;
	padding: 0.5rem 0.75rem;
	flex: 1 1 auto;
	font-size: 1rem;	
	border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-form .form-submit {
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-results {
    margin: 0;
	padding: 0;	
	list-style: none;
}

.search-result__snippet {
	margin: 0 0 3rem 0;
	padding: 0 0 3rem 0;
	border-bottom: 1px solid;
}

.search-help-link,
.container-inline label {
    display: none;
}

/*------------------------------------------------------------*/
/* Messages
/*------------------------------------------------------------*/

.messages,
.webform-confirmation__message {
    border: 0.125rem solid;
    border-radius: 0;
	margin: 0 0 1.5rem 0;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
	position: relative;
}

.messages--status,
.messages--error {
    background-image: none;
	box-shadow: none;
	background-color: transparent;
}

.messages--status:before,
.messages--error:before,
.webform-confirmation__message:before {
	position: absolute;
	display: block;
	content: "";
	width: 2rem;
	height: 2rem;
	top: 50%;
	left: 2rem;
	margin: -1rem 0 0 -1rem;
    background-image: url(../images/ok.svg);
	background-repeat: no-repeat;
	background-size: 1rem auto;
	background-position: 50% 50%;
	border-radius: 2rem;
}

.messages--status:before,
.webform-confirmation__message:before {
    background-image: url(../images/ok.svg);
}

.messages--error:before {
    background-image: url(../images/close.svg);
}

/*------------------------------------------------------------*/
/* Structure menu
/*------------------------------------------------------------*/

.taxonomy-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.taxonomy-menu__submenu {
	margin: 0;
	padding: 0 0 0 1.5rem;
	list-style: none;
} 

.taxonomy-menu__link {
	display: inline-block;
	margin: 0 0 1rem 0;
	font-size: 1.25rem;
}

.taxonomy-menu__submenu .taxonomy-menu__submenu .taxonomy-menu__link:before {
    display: inline-block;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.5rem 0 0;
    vertical-align: 0.375rem;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

/*------------------------------------------------------------*/
/* Tables
/*------------------------------------------------------------*/

table {
    border-collapse: collapse;
	border: none;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 1.5rem;
}

tr {
	border-bottom: 1px solid;
}

thead td {
	font-weight: 400;
}

td {
    padding: 1.5rem 0.75rem;
}

.price-table td:last-child {
    min-width: 6rem;
	text-align: right;
	font-size: 1.25rem;
}

/*------------------------------------------------------------*/
/* Tabs
/*------------------------------------------------------------*/

.tabs {
	margin: 1.5rem 0;
	padding: 0;
	list-style: none;
}

.tabs li {
	margin: 0 0.75rem 0 0;
	display: inline-block;
}

.tabs a {
	display: inline-block;
	padding: 0.375rem 1rem;
	border-radius: 2rem;
}

/*------------------------------------------------------------*/
/* Breadcrumb
/*------------------------------------------------------------*/

.breadcrumb__list {
	margin: 0;
	padding: 0;
    list-style: none;
}

.breadcrumb__item {
    display: inline-block;
	font-size: 0.813rem;
}

.breadcrumb__item:before {
    content: '/';
	display: inline-block;
	margin: 0 0.25rem;
}

.breadcrumb__item:first-child:before {
    display: none;
}

/*------------------------------------------------------------*/
/* Pager
/*------------------------------------------------------------*/

.pager {
    margin: 3rem 0 0 0;
}

.pager__items {
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: center;
}

.pager__item {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
}

.pager__link {
    display: block;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 2rem;
}

.pager__link_first,
.pager__link_last,
.pager__link_previous,
.pager__link_next {
    text-indent: -600rem;
    background-repeat: no-repeat;
    background-size: 1rem auto;
    background-position: 50% 50%;
}

.pager__link_first {
    background-image: url(../images/first.svg);
}

.pager__link_last {
    background-image: url(../images/last.svg);
}

.pager__link_previous {
    background-image: url(../images/prev.svg);
}

.pager__link_next {
    background-image: url(../images/next.svg);
}

/*------------------------------------------------------------*/
/* Mobile Navigation
/*------------------------------------------------------------*/

.mobile-nav-toggle  {
	display: none;
	width: 2.5rem;
	height: 2rem;
	vertical-align: middle;
	cursor: pointer;
	position: relative;	
	background: transparent;
	-webkit-tap-highlight-color: transparent;
}

.mobile-nav-toggle span {
    width: 100%;
    height: 0.25rem;
    position: absolute;
	border-radius: 0.25rem;
    transition: 0.2s linear;
}

.mobile-nav-toggle span:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(0deg);
}

.mobile-nav-toggle span:nth-child(2) {
    left: 0;
    top: 50%;
    margin: -0.125rem 0 0 0;
    opacity: 1;
}

.mobile-nav-toggle span:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
}

.mobile-nav-toggle.is-active span:nth-child(1) {
    left: 0;
    top: 50%;  
    margin: -0.125rem 0 0 0;
    transform: rotate(-45deg);
}

.mobile-nav-toggle.is-active span:nth-child(2) {
    left: 0;
    bottom: 50%; 
    margin: 0 0 -0.125rem 0; 
    transform: rotate(45deg);
    opacity: 0;   
}

.mobile-nav-toggle.is-active span:nth-child(3) {
    left: 0;
    bottom: 50%; 
    margin: 0 0 -0.125rem 0; 
    transform: rotate(45deg);
}

.mobile-nav {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 99;
	top: 3.5rem;
	left: 0;
	bottom: 0;	
	width: 100%;
	padding: 1.5rem;	
	overflow-y: auto;
	will-change: opacity;
}

.mobile-nav .block {
	margin: 0 0 2rem 0;
}

.mobile-menu {
	margin: 0;
	padding: 0;	
	list-style: none;
}

.mobile-menu__item {
	display: block;
}

.mobile-menu__link {
	position: relative;
	display: block;
    padding: 0.75rem 0;	
	font-size: 1.25rem;
}

.mobile-menu__link:before  {
    content: "";
    display: block;
    width: 0.75rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -2.25rem;
    border-radius: 1rem;
}

.mobile-menu__link_active:before,
.mobile-menu__link.is-active:before {
    left: -1.875rem;
}

/*------------------------------------------------------------*/
/* Map
/*------------------------------------------------------------*/

#block-map {
	display: none;
	width: 1480px; 
	position: relative; 
	line-height: 1;
}

#colorbox #block-map {
	display: block;
}

.legend {
	width: 380px;
	float: left;
	overflow: visible;
	padding: 20px 0 0 20px;
	font-size: 15px;
}

.legend__item {
    margin: 0 0 10px 0;
	white-space: nowrap;
}

.legend__link {
    border-bottom: 1px dashed;
	cursor: pointer;
}

.legend__symbols {
	display: flex;
    margin: 15px 0 0 0;
}

.legend__symbol {
	display: inline-flex;
	align-items: center;
	padding: 0 20px 0 0;
}

.legend__sign {
	display: block;
	width: 25px; 
	height: 25px; 
	border-radius: 50%;
}

.legend__sign_cafe,
.legend__sign_wc {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 1.125rem auto;
}

.legend__sign_cafe {
	background-image: url("../images/cafe.svg");
}

.legend__sign_wc {
	background-image: url("../images/wc.svg");
}

.legend__sign-text {
	display: block;
	padding: 0 0 0 8px;
}

.map {
	position: relative;
	width: 1100px;
	float: right;
}

.map img {
	display: block;
	width: 100%;	
	height: auto;
}

.map-point {
	position: absolute;
}

.map-point__text {
	position: relative;
}

.map-point__number {
	cursor: pointer;
	width: 20px; 
	height: 20px; 
	line-height: 20px; 
	font-size: 0.9rem;
	text-align: center;
	position: relative;
	border-radius: 50%;
	transform: scale(1, 1);
    transition: 0.2s linear;
}

.map-point__number_active {
	transform: scale(1.2, 1.2);
	box-shadow: 0 0 0 rgba(255,255,255, 0.9);
    animation: point-pulse 1s infinite;
}

@keyframes point-pulse {
  0% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
  }
  70% {
      box-shadow: 0 0 0 15px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}

.map-point__title {
	position: absolute;
	z-index: 1001;
	left: 0;
	line-height: 20px; 
	padding: 2px 5px; 
	border: 1px solid; 
	white-space: nowrap;
    transition: 0.2s linear;
}

.map-point__title-inner {
    position: relative;
    display: block;
}

.map-point__title-inner:before,
.map-point__title-inner:after {
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.map-point__title-inner:before {
    border-top: 5px solid;
    left: -1px;
    bottom: -8px;
}

.map-point__title-inner:after {
    border-top: 5px solid;
    left: -1px;
    bottom: -7px;
}

.map-point__title_hidden {
	bottom: 33px;
	opacity: 0;
	visibility: hidden;
}

.map-point__title_visible {
	bottom: 28px;
	opacity: 1;
	visibility: visible;
}

#map-point-1 {
	top: 142px; 
	left: 8px; 
}

#map-point-2 {
	top: 120px; 
	left: 120px; 
}

#map-point-2_2 {
	top: 110px; 
	left: 340px; 
}

#map-point-3 {
	top: 95px; 
	left: 235px; 
}

#map-point-4 {
	top: 150px; 
	left: 215px; 
}

#map-point-5 {
	top: 280px; 
	left: 330px; 
}

#map-point-6 {
	top: 245px; 
	left: 450px; 
}

#map-point-7 {
	top: 360px; 
	left: 410px; 
}

#map-point-8 {
	top: 445px; 
	left: 365px; 
}

#map-point-9 {
	top: 490px; 
	left: 370px; 
}

#map-point-10 {
	top: 575px; 
	left: 355px; 
}

#map-point-10_2 {
	top: 105px; 
	left: 35px; 
}

#map-point-11 {
	top: 575px; 
	left: 415px; 
}

#map-point-12 {
	top: 125px; 
	left: 495px; 
}

#map-point-12_2 {
	top: 25px; 
	left: 800px; 
}

#map-point-13 {
	top: 90px; 
	left: 445px; 
}

#map-point-14 {
	top: 20px; 
	left: 510px; 
}

#map-point-15 {
	top: 150px; 
	left: 610px; 
}

#map-point-16 {
	top: 220px; 
	left: 640px; 
}

#map-point-16_2 {
	top: 275px; 
	left: 640px; 
}

#map-point-16_3 {
	top: 340px; 
	left: 630px; 
}

#map-point-17 {
	top: 360px; 
	left: 555px; 
}

#map-point-18 {
	top: 420px; 
	left: 600px; 
}

#map-point-19 {
	top: 460px; 
	left: 520px; 
}

#map-point-20 {
	top: 470px; 
	left: 780px; 
}

#map-point-21 {
	top: 580px; 
	left: 550px; 
}

#map-point-22 {
	top: 60px; 
	left: 1000px; 
}

#map-point-23 {
	top: 300px; 
	left: 1020px; 
}

#map-point-24 {
	top: 660px; 
	left: 840px; 
}

#map-point-25 {
	top: 665px; 
	left: 450px; 
}

#lake {
	position: absolute;
	top: 340px; 
	left: 840px; 
	color: #fff;
}

.map__alley {
	position: absolute;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(5, 60, 40, 1);
}

.map__cafe {
	position: absolute;
	width: 20px;
    height: 20px;
	background-image: url("../images/cafe.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.map__wc {
	position: absolute;
	width: 20px;
    height: 20px;
	background-image: url("../images/wc.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

#cafe-1 {
	top: 175px; 
	left: 215px; 
}

#cafe-2 {
	top: 370px; 
	left: 380px; 
}

#cafe-3 {
	top: 620px; 
	left: 325px; 
}

#cafe-4 {
	top: 190px; 
	left: 460px; 
}

#cafe-5 {
	top: 200px; 
	left: 820px; 
}

#cafe-6 {
	top: 350px; 
	left: 780px; 
}

#wc-1 {
	top: 235px; 
	left: 252px; 
}

#wc-2 {
	top: 425px; 
	left: 450px; 
}

#wc-3 {
	top: 285px; 
	left: 700px; 
}

#wc-4 {
	top: 200px; 
	left: 850px; 
}

#wc-5 {
	top: 415px; 
	left: 890px; 
}

#alley-1 {
	top: 217px; 
	left: 193px; 
	transform: rotate(14.5deg);
}

#alley-2 {
	top: 420px; 
	left: 102px; 
	transform: rotate(-77.5deg);
}

#alley-3 {
	font-size: 12px;
	top: 164px; 
	left: 375px; 
	transform: rotate(64.5deg);
}

#alley-4 {
	font-size: 13px;
	top: 626px; 
	left: 190px;  
	transform: rotate(12.5deg);
}

#alley-5 {
	top: 641px; 
	left: 390px;  
	transform: rotate(-1deg);
}

#alley-6 {
	top: 435px; 
	left: 309px; 
	transform: rotate(-70deg);
}

#alley-7 {
	top: 450px; 
	left: 390px; 
	transform: rotate(-91.3deg);
}

#alley-8 {
	top: 440px; 
	left: 490px; 
	transform: rotate(65.5deg);
}

#alley-9 {
	top: 425px; 
	left: 580px; 
	transform: rotate(40deg);
}

#alley-10 {
	top: 300px; 
	left: 545px; 
	transform: rotate(14deg);
}

#alley-11 {
	top: 235px; 
	left: 630px; 
	transform: rotate(-5.5deg);
}

#alley-12 {
	top: 165px; 
	left: 600px; 
	transform: rotate(-24.5deg);
}

#alley-13 {
	font-size: 13px;
	top: 141px; 
	left: 480px; 
	transform: rotate(-40deg);
}

