@media (max-width: 1600px) {

    .topbar-left,
    .menu--main a.map-link,
    .block-views-blockfeatures-block-1 {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }
    
    .header,
    .main,
    .sidebar-right,
    .footer {
	    padding: 1.5rem;
    }

    .topbar-right {
        padding: 0 1.5rem 0 5.5rem;
    }

    .site-branding__logo {
        position: relative;
        bottom: auto;
        left: auto;
    }

    .site-branding__logo a {
        width: 5rem;
        height: 5rem;
        padding: 0.25rem;
    }

    .site-branding__text {
        padding: 0 0 0 1rem;
    }

    .site-branding__name {
        font-size: 1.25rem;
    }

    .site-branding__slogan {
        font-size: 1rem;
    }

    .social-icon,
    .view-slider .flex-direction-nav a {
        margin: 0 0 0 1rem;
    }

    .sidebar-left {
        position: absolute;
        z-index: 100;
        flex: none;
        max-width: none;
        width: 24rem;
        height: 100%;
        top: 0;
        padding: 4rem 4rem 2rem 2rem;
        transform: translateX(-20rem);
        will-change: transform;
    }

    .topbar-right, 
    .page {
        flex: 0 0 100%;
        max-width: none;
    }

    .page {
        padding: 0 0 0 4rem;
    }

    .breadcrumbs {
        margin: 0 1.5rem;
    }

    .path-frontpage .main {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .slide__title,
    .view-slider .flex-control-nav {
        left: 1.5rem;
    }

    .view-slider .flex-direction-nav {
        right: 1.5rem;
    }

    .view-excursions-block .view-content,
    .view-services-block .view-content,
    .view-management-block .view-content,
    .view-persons-block .view-content {
        display: flex;
        flex-wrap: wrap;	
        margin: 0 -1rem;
    }

    .excursion,
    .service,
    .person {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1rem;
    }

    .excursion__image,
    .excursion__text,
    .service__image,
    .service__text,
    .person__image,
    .person__text {
        flex: none;
        max-width: none;
    }

    .excursion__text,
    .service__text,
    .person__text {
        padding: 0 1.5rem;
    }

    .excursion:nth-child(odd) .excursion__text-inner,
    .excursion:nth-child(even) .excursion__text-inner,
    .service:nth-child(odd) .service__text-inner,
    .service:nth-child(even) .service__text-inner,
    .person__text-inner {
        margin: -3rem 0 0 0;
    }


    .sidebar-right .block {
	    margin: 0 0 1.5rem 0;
    }

    input.form-text,
    input.form-email,
    textarea.form-textarea {
        width: 100%;
    }

    .webform-submission-form input.button {
        width: 100%;
    }

}

/*------------------------------------------------------------*/

@media (max-width: 1366px) {

    .menu--main .menu__item {
        padding: 0 1rem 0 0;
    }

    h1 {
        font-size: 1.875rem;
    }  

    h2,
    .block__title {
        font-size: 1.625rem;
    }   
    
    h3 {
        font-size: 1.375rem;
    }

}

/*------------------------------------------------------------*/

@media (max-width: 1024px) {

    .topbar-left,
    .menu--main,
    .breadcrumbs,
    .sidebar-left,
    #block-header-contacts {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
    }

    body {
        padding: 3.5rem 0 0 0;
    }

    .topbar {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header {
        border-bottom: 1px solid #b2bdc0;
    }

    .path-frontpage .header {
        border-bottom: none;
    }

    .field--name-field-page-image, 
    .field--name-field-news-image, 
    .field--name-field-person-image, 
    .field--name-field-product-image, 
    .field--name-field-event-image, 
    .field--name-field-service-image, 
    .field--name-field-ecotrail-plant-image {
        float: none;
        width: 100%;
        margin: 0 0 1.5rem 0;
    }

    .topbar-right {
        padding: 0.75rem 1.5rem;
    }

    .region-header {
        padding: 0;
        justify-content: flex-start;
        align-items: center;
    }

    .site-branding {
        padding: 0;
    }

    .page {
        padding: 0;
    }

    .main,
    .sidebar-right {
        flex: 0 0 100%;
        max-width: none;
    }

    .masonry-item {
        width: 50%;
    } 

}

/*------------------------------------------------------------*/

@media (max-width: 767px) { 

    .site-branding__slogan,
    .slide__title {
        display: none;
    }

    .topbar-right {
        padding: 0.75rem 1rem;
    }

    .header, 
    .main, 
    .sidebar-right,
    .footer {
        padding: 1rem;
    }

    .contacts__item {
        flex: 0 0 100%;
        padding: 0 1rem 1rem 1rem;
    }

    .contacts__item:last-child {
        padding: 0 1rem;
    }

    .site-branding__logo a {
        width: 4rem;
        height: 4rem;
    }

    .path-frontpage .main {
        padding: 0 1rem 1rem 1rem;
    }

    .flexslider {
        padding: 0 0 3rem 0;
    }

    .view-slider .flex-direction-nav {
        right: 1rem;
        height: 3rem;
    }

    .view-slider .flex-control-nav {
        height: 3rem;
        left: 1rem;
        bottom: 0;
    }

    h1 {
        font-size: 1.625rem;
    }

    h2,
    .block__title {
        font-size: 1.375rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .node__content a {
        word-break: break-all;
    }

    .node__content ul,
    .views-field-field-structure-text ul,
    .view-collection-description ul {
	    margin: 0 0 1.5rem 1rem;
    }

    .node__content ol,
    .views-field-field-structure-text ol,
    .view-collection-description ol {
	   margin: 0 0 1.5rem 2rem;
    }

    .node__content .float-left,
    .node__content .float-right {
        float: none;
        margin: 0 0 1.5rem 0;
        width: 100%;
    }

    .excursion,
    .service,
    .person {
        display: block;
        flex: 0 0 100%;
        max-width: none;
    }

    .excursion__text,
    .service__text,
    .person__text {
        padding: 1.5rem 0 0 0;
    }

    .excursion:nth-child(odd) .excursion__text-inner,
    .excursion:nth-child(even) .excursion__text-inner,
    .service:nth-child(odd) .service__text-inner,
    .service:nth-child(even) .service__text-inner,
    .person__text-inner {
        margin: 0;
        padding: 0;
    }

    .masonry-item {
        width: 100%;
    }

    table tr,
    table td {
        display: block;
        width: 100%;        
    }

    .price-table td:last-child {
        text-align: left;
    }

    .footer {
        padding: 0.75rem 1.5rem;
    }

    .region-footer {
        justify-content: flex-start;
    }

    .footer .block {
        padding: 0.75rem 0;
    }

}


