/*------------------------------------------------------------*/
/* <= 1366px
/*------------------------------------------------------------*/

@media all and (max-width: 1366px) {

    #topbar-left,
    #block-maplinksmall,
    #block-maplink,
    #sidebar-first,
    #breadcrumbs,
    .block-views-blockfeatures-block-1 {
        display: none;
    }

    .left-menu-toggle {
        display: block;
    }
    
    #header,
    #main,
    #footer {
	    padding: 20px;
    }

    #topbar-right {
        padding: 0 20px 0 225px;
    }

    .site-name-slogan {
        padding: 0 0 0 125px;
    }
    
    #sidebar-left {
        position: absolute;
        z-index: 110;
        flex: none;
        max-width: none;
        width: 380px;
        min-height: 100%;
        top: 0;
        padding: 60px 80px 0 0;
        transform: translateX(-300px);
    }

    #topbar-right, 
    #wrapper {
        flex: 0 0 100%;
        max-width: none;
    }

    #wrapper {
        padding: 0 0 0 80px;
    }

    .path-frontpage #main {
        padding: 0 20px 20px 20px;
    }

    #sidebar-right {
        padding: 0 20px 20px 0;
    }

    #sidebar-right .block {
	    margin: 0 0 20px 0;
    }

    input.form-text,
    input.form-email,
    textarea.form-textarea {
        width: 100%;
    }

    .webform-submission-form input.button {
        width: 100%;
    }

}

/*------------------------------------------------------------*/
/* <= 768px
/*------------------------------------------------------------*/

@media all and (max-width: 768px) {

    #topbar-left,
    .menu--main,
    #sidebar-left,
    #left-menu-panel,
    #block-addressandphone {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .field--name-field-page-image, 
    .field--name-field-news-image, 
    .field--name-field-person-image, 
    .field--name-field-product-image, 
    .field--name-field-event-image, 
    .field--name-field-service-image, 
    .field--name-field-ecotrail-plant-image {
        float: none;
        width: 100%;
        margin: 0 0 20px 0;
    }

    #topbar-right {
        padding: 10px 20px;
    }

    .region-header {
        padding: 0;
        justify-content: flex-start;
        align-items: center;
    }

    #block-site-branding {
        padding: 0;
    }

    .site-logo {
        position: relative;
        bottom: auto;
        left: auto;
    }

    .site-logo a {
        width: 60px;
        height: 60px;
    }

    .site-name-slogan {
        padding: 0 0 0 20px;
    }

    #wrapper {
        padding: 0;
    }

    #main,
    #sidebar-right,
    .excursion__image,
    .excursion__text,
    .service__image,
    .service__text {
        flex: 0 0 100%;
        max-width: none;
    }

    .excursion__text,
    .service__text {
        padding: 20px 0 0 0;
    }

    .excursion:nth-child(odd) .excursion__text-inner,
    .excursion:nth-child(even) .excursion__text-inner,
    .service:nth-child(odd) .service__text-inner,
    .service:nth-child(even) .service__text-inner {
        margin: 0;
        padding: 0;
    }

    .masonry-item {
        width: 50%;
    }

    #sidebar-right {
        padding: 20px;
    }
    
    h1,
    h2,
    .block-title {
        font-size: 1.529411rem;
    }    
   
}

/*------------------------------------------------------------*/
/* <= 414px
/*------------------------------------------------------------*/

@media all and (max-width: 414px) {

    .site-slogan,
    .view-slider .views-field-title {
        display: none;
    }

    .site-name {
        font-size: 1.176470rem;
    }

    .flexslider {
        padding: 0 0 50px 0;
    }

    .view-slider .flex-direction-nav {
        height: 50px;
    }

    h1,
    h2,
    h3,
    .block-title {
        font-size: 1.294117rem;
    }

    .node__content .float-left,
    .node__content .float-right {
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
    }

    .person__image, 
    .person__text {
        flex: 0 0 100%;
        max-width: none;
        padding: 20px 0 0 0;
    }

    .person__text-inner {
        margin: 0;
        padding: 0;
    }

    .masonry-item {
        width: 100%;
    }

    table tr,
    table td {
        display: block;
        width: 100%;        
    }

    .price-table td:last-child {
        text-align: left;
    }

    #footer {
        padding: 10px 20px;
    }

    .region-footer {
        justify-content: flex-start;
    }

    #footer .block {
        padding: 10px 0;
    }

}


